<div class="jumbotron">
<h1>Welcome to the Alpha blog!</h1>
<p>you'll see some good things here, hope you'll enjoy!</p>
<br/>
<!-- <p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign Up Now!</a></p> -->
<p><%= link_to 'Sign Up Now!', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %></p>
</div>