<div class="container">
<footer class='footer'>
  <div>
    <small>
      Copyright &copy; <a href="#">Geoffroy Givry</a>, made with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </small>
    <nav>
      <ul>
        <li><%= link_to 'about', about_path %></li>
      </ul>
    </nav>
  </div>


</footer>
</div>